<section class="flex justify-between">
    <form
        class="mx-auto p-6 rounded-md border border-zinc-300 shadow-xl form-login"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
        <h1 class="mb-5 text-2xl font-bold text-center">Create an Account and Start Learning!</h1>
        <div class="mb-6 h-px bg-zinc-300"></div>
        <div class="mb-11 flex gap-5 text-white">
            <button type="button" class="flex-1 rounded py-3 bg-red-500 font-bold"><i class="mr-3 bi bi-google"></i>Google</button>
            <button type="button" class="flex-1 rounded py-3 bg-red-500 font-bold"><i class="mr-3 bi bi-facebook"></i>Facebook</button>
            <button type="button" class="flex-1 rounded py-3 bg-red-500 font-bold"><i class="mr-3 bi bi-twitter"></i>Twitter</button>
        </div>

        <div class="mb-11 flex justify-center">
            <div class="flex items-center justify-center w-14 h-14 rounded-full border border-zinc-300 shadow-md text-2xl font-medium">Or</div>
        </div>

        <!--  Start :: User Information -->
        <div class="mb-5">
            <label class="mb-3 inline-block font-medium">First Name</label>
            <div class="flex py-3 rounded border border-zinc-300">
                <i class="pl-5 pr-3 text-lg bi bi-person"></i>
                <input
                    type="text"
                    placeholder="First name"
                    class="flex-1"
                    formControlName="username">
            </div>
        </div>
        <div class="mb-5">
            <label class="mb-3 inline-block font-medium">Last Name</label>
            <div class="flex py-3 rounded border border-zinc-300">
                <i class="pl-5 pr-3 text-lg bi bi-person"></i>
                <input
                    type="text"
                    placeholder="Last name"
                    class="flex-1"
                    formControlName="username">
            </div>
        </div>
        <div class="mb-5">
            <label class="mb-3 inline-block font-medium">User Name</label>
            <div class="flex py-3 rounded border border-zinc-300">
                <i class="pl-5 pr-3 text-lg bi bi-person"></i>
                <input
                    type="text"
                    placeholder="Username"
                    class="flex-1"
                    formControlName="username">
            </div>
        </div>
        <div class="mb-5">
            <label class="mb-3 inline-block font-medium">Email Address</label>
            <div class="flex py-3 rounded border border-zinc-300">
                <i class="pl-5 pr-3 text-lg bi bi-envelope"></i>
                <input
                    type="text"
                    placeholder="Enter email address"
                    class="flex-1"
                    formControlName="username">
            </div>
        </div>
        <div class="mb-5">
            <label class="mb-3 inline-block font-medium">Password</label>
            <div class="flex py-3 rounded border border-zinc-300">
                <i class="pl-5 pr-3 text-lg bi bi-lock"></i>
                <input
                    type="password"
                    placeholder="Password"
                    class="flex-1"
                    formControlName="password">
            </div>
        </div>

        <div class="mb-6 text-sm">
            <div class="mb-3 flex">
                <input type="checkbox" class="mr-2">
                <label class="font-medium text-gray-500">Yes! I want to get the most out of Aduca by receiving emails with exclusive deals, personal recommendations and learning tips!</label>
            </div>
            <div class="flex">
                <input type="checkbox" class="mr-2">
                <label class="font-medium text-gray-500">by signing i agree to the <a href="#" class="font-medium text-red-500">terms and conditions</a> and <a href="#" class="font-medium text-red-500">privacy policy</a></label>
            </div>
        </div>

        <button class="mb-3 py-3 px-5 inline-block rounded bg-red-500 font-medium font-bold text-white"><span class="mr-2">Register Account</span><i class="bi bi-arrow-right"></i></button>
        <p class="text-sm"><span class="mr-2">Already have an account?</span><a href="#" class="font-medium text-red-500" routerLink="/login">Log in</a></p>
        <!--  End :: User Information  -->

    </form>
</section>
