<div class="py-5 px-6 w-96 rounded-md border border-zinc-300 shadow-xl bg-white text-gray-500">
    <p class="mb-3 font-semibold">By Jose Portilla</p>
    <h5 class="mb-3 text-xl font-bold text-slate-600">The Business Intelligence Analyst Course 2021</h5>
    <div class="mb-3 flex font-medium">
        <p class="mr-3 px-3 inline-block rounded bg-amber-50 text-amber-500">Bestseller</p>
        <p class="text-green-600">Updated November 2020</p>
    </div>
    <div class="mb-4 flex items-center">
        <span>23 total hours</span>
        <div class="mx-3 w-1.5 h-1.5 rounded-full bg-gray-500"></div>
        <span>All Levels</span>
    </div>

    <div class="mb-4">
        <p class="mb-4">The skills you need to become a BI Analyst - Statistics, Database theory, SQL, Tableau – Everything is included</p>
        <p class="mb-3"><i class="mr-3 bi bi-check2"></i>Become an expert in Statistics, SQL, Tableau, and problem solving</p>
        <p class="mb-3"><i class="mr-3 bi bi-check2"></i>Boost your resume with in-demand skills</p>
        <p class="mb-3"><i class="mr-3 bi bi-check2"></i>Gather, organize, analyze and visualize data</p>
    </div>

    <div class="flex">
        <button
            class="mr-6 h-12 flex-1 inline-block rounded border border-red-500 bg-red-500 hover:bg-white font-medium font-bold text-white hover:text-red-500"
            (click)="onAddToCart()"
        >
            <i class="mr-3 bi bi-cart-plus"></i>
            <span>Add to Cart</span>
        </button>
        <button class="w-12 h-12 rounded-full border border-zinc-300 shadow-lg" ><i class="bi bi-heart"></i></button>
    </div>
</div>
