<section class="flex flex-col gap-6">
    <div class="px-6 py-4 border  rounded-md">
        <h5 class="text-lg font-semibold">Search Field</h5>
        <div class="my-3 relative h-px bg-gray-300 before:block before:absolute before:w-20 before:h-px before:bg-red-500"></div>
        <form>
            <div class="px-3 py-2 flex border rounded">
                <input type="text" placeholder="Search courses" class="flex-1">
                <button class=""><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    <div class="px-6 py-4 border rounded-md">
        <h5 class="text-lg font-semibold">Ratings</h5>
        <div class="my-3 relative h-px bg-gray-300 before:block before:absolute before:w-20 before:h-px before:bg-red-500"></div>

        <div class="flex flex-col gap-3 font-medium">
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded-full"></div>
                <div class="flex gap-1 text-amber-500">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <span>5.0</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded-full"></div>
                <div class="flex gap-1 text-amber-500">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <span>5.0</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded-full"></div>
                <div class="flex gap-1 text-amber-500">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <span>5.0</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded-full"></div>
                <div class="flex gap-1 text-amber-500">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <span>5.0</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded-full"></div>
                <div class="flex gap-1 text-amber-500">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <span>5.0</span>
                <span class="text-gray-400">(20,230)</span>
            </div>


        </div>
    </div>

    <div class="px-6 py-4 border rounded-md">
        <h5 class="text-lg font-semibold">Categories</h5>
        <div class="my-3 relative h-px bg-gray-300 before:block before:absolute before:w-20 before:h-px before:bg-red-500"></div>

        <div class="flex flex-col gap-3 font-medium">
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Business</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>UI & UX</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Animation</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Game Design</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Graphic Design</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Typography</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Web Development</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Photography</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Finance</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
        </div>
    </div>

    <div class="px-6 py-4 border rounded-md">
        <h5 class="text-lg font-semibold">Video Duration</h5>
        <div class="my-3 relative h-px bg-gray-300 before:block before:absolute before:w-20 before:h-px before:bg-red-500"></div>

        <div class="flex flex-col gap-3 font-medium">
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>0 - 2 Hourse</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>3 - 6 Hourse</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>7 - 14 Hourse</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>16+ Hourse</span>
                <span class="text-gray-400">(20,230)</span>
            </div>

        </div>
    </div>

    <div class="px-6 py-4 border rounded-md">
        <h5 class="text-lg font-semibold">Level</h5>
        <div class="my-3 relative h-px bg-gray-300 before:block before:absolute before:w-20 before:h-px before:bg-red-500"></div>

        <div class="flex flex-col gap-3 font-medium">
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>All Levels</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Beginner</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Intermediate</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Expert</span>
                <span class="text-gray-400">(20,230)</span>
            </div>

        </div>
    </div>

    <div class="px-6 py-4 border rounded-md">
        <h5 class="text-lg font-semibold">Languages</h5>
        <div class="my-3 relative h-px bg-gray-300 before:block before:absolute before:w-20 before:h-px before:bg-red-500"></div>

        <div class="flex flex-col gap-3 font-medium">
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>English</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Vietnamese</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Chinese</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Thailand</span>
                <span class="text-gray-400">(20,230)</span>
            </div>

        </div>
    </div>

    <div class="px-6 py-4 border rounded-md">
        <h5 class="text-lg font-semibold">By Cost</h5>
        <div class="my-3 relative h-px bg-gray-300 before:block before:absolute before:w-20 before:h-px before:bg-red-500"></div>

        <div class="flex flex-col gap-3 font-medium">
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Paid</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>Free</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
            <div class="flex gap-2 items-center">
                <div class="size-4 border border-gray-600 rounded"></div>
                <span>All</span>
                <span class="text-gray-400">(20,230)</span>
            </div>
        </div>
    </div>
</section>
