<div class="h-screen border-r border-zinc-300 ">
    <a class="flex items-center px-5 h-20" href="#">
        <img src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/logo.png" alt="logo">
    </a>

    <ul>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block " href="#">
                <i class="mr-3 bi bi-columns-gap"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a
                class="py-2.5 px-5 block hover:bg-blue-100 hover:text-blue-700 border-r-4 border-blue-600/0 hover:border-blue-600"
                [routerLink]="['my-profile']"
                [routerLinkActive]="['bg-blue-100', 'text-blue-700', 'border-blue-600/100']"
            >
                <i class="mr-3 text-lg bi bi-person"></i>
                <span>My Profile</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-file-earmark-text"></i>
                <span>My Courses</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-lightning-fill"></i>
                <span>Quize Attempts</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-bookmark"></i>
                <span>Book Marks</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-archive"></i>
                <span>Enrolled Courses</span>
            </a>
        </li>
        <li>
            <a
                class="py-2.5 px-5 block hover:bg-blue-100 hover:text-blue-700 border-r-4 border-blue-600/0 hover:border-blue-600"
                [routerLink]="['message']"
                [routerLinkActive]="['bg-blue-100', 'text-blue-700', 'border-blue-600/100']"
            >
                <i class="mr-3 bi bi-bell"></i>
                <span>Messages</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-star"></i>
                <span>Reviews</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-currency-dollar"></i>
                <span>Earnings</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-wallet2"></i>
                <span>Withdraw</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-cart3"></i>
                <span>Purchase History</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-plus-lg"></i>
                <span>Submit Course</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-gear"></i>
                <span>Settings</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-door-open"></i>
                <span>Logout</span>
            </a>
        </li>
        <li class="py-2.5 px-5 hover:bg-blue-100 hover:text-blue-700  border-r-4 border-transparent hover:border-blue-600">
            <a class="block" href="#">
                <i class="mr-3 bi bi-trash3"></i>
                <span>Delete Account</span>
            </a>
        </li>
    </ul>
</div>
