<!--<h1>To Do List</h1>-->
<!--<div class="mb-4 flex">-->
<!--    <input-->
<!--        #input-->
<!--        type="text"-->
<!--        placeholder="Enter title"-->
<!--        class="px-3 border rounded border-solid border-red-500"-->
<!--        (keydown.enter)="onAddTodoItem(input.value)"-->
<!--    >-->
<!--    <button-->
<!--        class="px-3 border rounded border-solid border-red-500"-->
<!--        (click)="onAddTodoItem(input.value)"-->
<!--    >Add</button>-->
<!--</div>-->

<!--<ul>-->
<!--    @for(item of todos; track item; let index=$index) {-->
<!--        <li-->
<!--            @myInsertRemoveTrigger-->
<!--            class="mb-3 p-3 text-white font-bold bg-zinc-600"-->
<!--            (click)="onRemoveTodo(index)"-->
<!--        >{{item}}</li>-->
<!--    }-->
<!--</ul>-->

<!--<button (click)="isShown = !isShown">Toggle</button>-->
<!--<div @myInsertRemoveTrigger *ngIf="isShown" class="inline-block insert-remove-container bg-zinc-600">-->
<!--    <p>The box is inserted</p>-->
<!--</div>-->

<!--<div [@openClose]="isShown" class="bg-zinc-600">-->
<!--    Thomas-->
<!--</div>-->


<!--<div [@.disabled]="isDisabled">-->
<!--    <div [@childAnimation]="isOpen ? 'open' : 'closed'"-->
<!--         class="open-close-container">-->
<!--        <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>-->
<!--    </div>-->
<!--</div>-->
