<section class="flex items-center justify-between text-base">
    <div class="flex items-center">
        <img
            class="mr-4 w-24 h-24 rounded-full"
            src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
            alt="avatar">
        <div>
            <h5 class="mb-3 text-3xl font-bold">Howdy, Tim Buchalka</h5>
            <div class="flex font-semibold gap-2">
                <span>4.4</span>
                <div class="text-amber-500">
                    <i class="mr-1 bi bi-star-fill"></i>
                    <i class="mr-1 bi bi-star-fill"></i>
                    <i class="mr-1 bi bi-star-fill"></i>
                    <i class="mr-1 bi bi-star-fill"></i>
                    <i class="bi bi-star"></i>
                </div>
                <span class="text-gray-500">(20,230)</span>
            </div>
        </div>
    </div>
    <button class="px-4 py-2 rounded border border-zinc-300 bg-gray-100"><i class="mr-2 bi bi-upload"></i><span>Upload a course</span></button>
</section>
