<div class="fixed top-0 bottom-0 left-0 right-0 bg-gray-950/75 z-50">
    <div class="relative w-80 h-full bg-white">
        <button
            class="absolute right-0 py-2.5 px-3 bg-white rounded-r translate-x-full"
            (click)="onCloseLeftMenu()"
        ><i class="bi bi-x-lg"></i></button>

        <a href="#" class="mb-4 py-6 block text-center border-b">
            <img src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/logo.png" alt="logo" class="inline-block">
        </a>

        <ul>
            <li class="px-4 py-2">
                <div class="flex justify-between items-center">
                    <span>Home</span>
                    <button class="size-8 rounded-full border"><i class="bi bi-chevron-up"></i></button>
                </div>
            </li>
            <li class="px-4 py-2">
                <div class="flex justify-between items-center">
                    <span>Course</span>
                    <button class="size-8 rounded-full border"><i class="bi bi-chevron-up"></i></button>
                </div>
            </li>
            <li class="px-4 py-2">
                <div class="flex justify-between items-center">
                    <span>Student</span>
                    <button class="size-8 rounded-full border"><i class="bi bi-chevron-up"></i></button>
                </div>
            </li>
            <li class="px-4 py-2">
                <div class="flex justify-between items-center">
                    <span>Pages</span>
                    <button class="size-8 rounded-full border"><i class="bi bi-chevron-up"></i></button>
                </div>
            </li>
            <li class="px-4 py-2">
                <div class="flex justify-between items-center">
                    <span>Blogs</span>
                    <button class="size-8 rounded-full border"><i class="bi bi-chevron-up"></i></button>
                </div>
            </li>
        </ul>
    </div>

</div>
