<!--<button class="p-3 font-semibold min-w-28 rounded-full bg-red-500 text-white" (click)="openModal()">Open Modal</button>-->
<button
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    class="p-3 font-semibold min-w-28 rounded-full bg-red-500 text-white"
    [class.open]="detailsOpen"
    (click)="detailsOpen = !detailsOpen"
>Open Modal</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="detailsOpen"
>
    <app-form-login></app-form-login>
</ng-template>
