<header class="border-b border-zinc-300 px-8">
    <div class="h-20 flex items-center justify-between">
        <form class="text-sm">
            <div class="p-3 flex rounded bg-gray-200">
                <input class="w-96 bg-transparent" type="text" placeholder="Search for anything">
                <button><i class="bi bi-search"></i></button>
            </div>
        </form>

        <nav>
            <ul class="flex items-center">
                <li class="mx-4 relative">
                    <div class="flex items-center cursor-pointer">
                        <span class="mr-2">My Courses</span>
                        <i class="bi bi-chevron-down"></i>
                    </div>
                    <div class="hidden absolute">
                        <ul>
                            <li class="flex items-center">
                                <div>
                                    <img src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-img-3.jpg" alt="course">
                                </div>
                                <div>
                                    <p>The Complete JavaScript Course 2021: From Zero to Expert!</p>
                                    <div>
                                        <div></div>
                                    </div>
                                </div>
                            </li>
                            <li class="flex items-center">
                                <div>
                                    <img src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-img-3.jpg" alt="course">
                                </div>
                                <div>
                                    <p>The Complete JavaScript Course 2021: From Zero to Expert!</p>
                                    <div>
                                        <div></div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <button>
                            <span>Go to my courses</span>
                            <i class="bi bi-arrow-right"></i>
                        </button>
                    </div>

                </li>
                <li class="mx-4">
                    <button class="relative cursor-pointer"><i class="text-xl bi bi-cart"></i><span class="absolute top-0 right-0 translate-x-1/4 -translate-y-1/4 block rounded-full w-2.5 h-2.5 bg-red-500"></span></button>
                </li>
                <li class="mx-4">
                    <button class="relative"><i class="text-xl bi bi-heart"></i><span class="absolute top-0 right-0 translate-x-1/4 -translate-y-1/4 block rounded-full w-2.5 h-2.5 bg-red-500"></span></button>
                </li>
                <li class="mx-4">
                    <button class="relative cursor-pointer"><i class="text-xl bi bi-bell"></i><span class="absolute top-0 right-0 translate-x-1/4 -translate-y-1/4 block rounded-full w-2.5 h-2.5 bg-red-500"></span></button>
                </li>
                <li class="ml-4">
                    <button class="relative cursor-pointer">
                        <img class="w-8 h-8 rounded-full" src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar">
                        <span class="absolute top-0 right-0 translate-x-1/4 -translate-y-1/4 block rounded-full w-2.5 h-2.5 bg-red-500"></span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>
