<section>
    <h4 class="mb-6 text-2xl font-bold">My Profile</h4>

    <div>
        <div class="border-b py-4 flex"><p class="w-72 font-bold">Registration Date:</p><p class="max-w-[500px]">Sat 20 Apr 2019, 03:50:30 AM</p></div>
        <div class="border-b py-4 flex"><p class="w-72 font-bold">First Name:</p><p class="max-w-[500px]">Alex</p></div>
        <div class="border-b py-4 flex"><p class="w-72 font-bold">Last Name:</p><p class="max-w-[500px]">Smith</p></div>
        <div class="border-b py-4 flex"><p class="w-72 font-bold">User Name:</p><p class="max-w-[500px]">alex-admin</p></div>
        <div class="border-b py-4 flex"><p class="w-72 font-bold">Email:</p><p class="max-w-[500px]">alexsmith&#64;gmail.com</p></div>
        <div class="border-b py-4 flex"><p class="w-72 font-bold">Phone Number:</p><p class="max-w-[500px]">(91) 7547 622250</p></div>
        <div class="py-4 flex"><p class="w-72 font-bold">Bio:</p><p class="max-w-[500px]">Hello! I am a Alex Smith, Washington area graphic designer with over 6 years of graphic design experience. I specialize in designing infographics, icons, brochures, and flyers.</p></div>
    </div>
</section>
