<div>
    <div class="px-5 h-20 flex items-center border-b border-zinc-200">
        <form class="flex-1">
            <div class="p-3 flex rounded bg-gray-200">
                <input class="mr-2 w-full bg-transparent" type="text" placeholder="Search...">
                <button><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>

    <ul class="max-h-[614px] overflow-auto font-medium *:border-b border-zinc-200">
        <li>
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-700 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
        <li>
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-500 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
        <li>
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-500 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
        <li>
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-500 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
        <li>
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-500 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
        <li>
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-500 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
        <li>
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-500 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
        <li class="last:border-0">
            <button class="p-4 flex">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-full h-full rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg"
                        alt="avatar"
                    >
                </div>

                <div class="flex-1 text-left">
                    <p class="font-semibold"><span>Daniel Hardman</span><span class="ml-2 px-1 inline-block rounded bg-green-500 text-white">2</span></p>
                    <div class="text-gray-500">
                        <p class="w-72 truncate-l truncate-1l">How the hell am I supposed to get a jury to believe you when I am not even sure that I do</p>
                        <p>5 min ago</p>
                    </div>
                </div>
            </button>
        </li>
    </ul>
</div>
