<div>
    <div class="px-5 h-20 flex justify-between items-center border-b border-zinc-200 bg-slate-200">
        <div class="flex items-center">
            <img
                class="mr-2 w-12 h-12 rounded-full"
                src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar"
            >
            <div>
                <p class="font-semibold">Daniel Hardman</p>
                <p class="text-green-500">Online</p>
            </div>
        </div>
        <div>
            <button><i class="text-lg bi bi-trash"></i></button>
        </div>
    </div>

    <ul class="py-6 px-3 max-h-[550px] overflow-auto border-b border-zinc-200">
        <li class="mb-5">
            <div class="flex justify-end gap-3">
                <div class="p-4 max-w-sm w-fit rounded bg-blue-500 text-white font-semibold">
                    <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do? 😒</p>
                    <p class="text-right ">11:44 AM<i class="ml-2 bi bi-check2"></i></p>
                </div>
                <div class="w-12 h-12">
                    <img
                        class="w-12 h-12 rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar"
                    >
                </div>
            </div>

        </li>
        <li class="mb-1">
            <div class="flex justify-start gap-3">
                <div class="w-12 h-12">
                    <img
                        class="w-12 h-12 rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar"
                    >
                </div>
                <div class="mr-3 p-4 max-w-sm w-fit rounded bg-gray-100 font-semibold">
                    <p>When you're backed against the wall, break the god damn thing down.</p>
                </div>
            </div>
        </li>
        <li class="mb-5">
            <div class="flex justify-start gap-3">
                <div class="w-12 h-12"></div>
                <div class="mr-3 p-4 max-w-sm w-fit rounded bg-gray-100 font-semibold">
                    <p>Excuses don't win championships. 😐</p>
                    <p class="text-right text-gray-400 font-medium text-xs">11:44 AM<i class="ml-2 bi bi-check2"></i></p>
                </div>
            </div>
        </li>

        <li class="mb-5">
            <div class="flex justify-end gap-3">
                <div class="p-4 max-w-sm w-fit rounded bg-blue-500 text-white font-semibold">
                    <p>Oh yeah, you said right 👍</p>
                    <p class="text-right">11:44 AM<i class="ml-2 bi bi-check2"></i></p>
                </div>
                <div class="w-12 h-12">
                    <img
                        class="w-12 h-12 rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar"
                    >
                </div>
            </div>

        </li>
        <li class="mb-5">
            <div class="flex justify-start gap-3">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-12 h-12 rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar"
                    >
                </div>
                <div class="mr-3 p-4 max-w-sm w-fit rounded bg-gray-100 font-semibold">
                    <p>Anyway! when i will start working on your project 😎😎😎</p>
                    <p class="text-right text-gray-400 font-medium text-xs">11:44 AM<i class="ml-2 bi bi-check2"></i></p>
                </div>
            </div>

        </li>
        <li class="mb-5">
            <div class="flex justify-end gap-3">
                <div class="p-4 max-w-sm w-fit rounded bg-blue-500 text-white font-semibold">
                    <p>You can start working on project tomorrow 🙂</p>
                    <p class="text-right">11:44 AM<i class="ml-2 bi bi-check2"></i></p>
                </div>
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-12 h-12 rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar"
                    >
                </div>
            </div>

        </li>
        <li class="mb-5">
            <div class="flex justify-start gap-3">
                <div class="mr-2 w-12 h-12">
                    <img
                        class="w-12 h-12 rounded-full"
                        src="https://techydevs.com/demos/themes/html/aduca-demo/aduca/images/small-avatar-1.jpg" alt="avatar"
                    >
                </div>
                <div class="mr-3 p-4 w-fit max-w-sm rounded bg-gray-100 font-semibold">
                    <p>Ok, i will 😉</p>
                    <p class="text-right text-gray-400 font-medium text-xs">11:44 AM<i class="ml-2 bi bi-check2"></i></p>
                </div>
            </div>

        </li>
    </ul>

    <form>
        <div class="p-4 flex">
            <input class="flex-1" type="text" placeholder="Your message">
            <div class="flex text-lg">
                <button type="button"><i class="bi bi-emoji-smile"></i></button>
                <button type="button" class="mx-3"><i class="bi bi-pin"></i></button>
                <button type="button" class="w-8 h-8 rounded-full bg-red-500 text-white"><i class="bi bi-send"></i></button>
            </div>
        </div>
    </form>
</div>
