<section>
    <div class="py-14 bg-cover hero-banner">
        <div class="max-w-screen-xl mx-auto font-medium">
            <ul class="mb-4 flex">
                <li>Home<i class="mx-2 bi bi-chevron-right"></i></li>
                <li>Development<i class="mx-2 bi bi-chevron-right"></i></li>
                <li>Java</li>
            </ul>

            <div class="mb-4 w-3/5 leading-normal">
                <h1 class="mb-3 text-4xl font-bold">Java Programming Masterclass for Software Developers</h1>
                <p class="text-lg text-gray-500">Learn Java In This Course And Become a Computer Programmer. Obtain valuable Core Java Skills And Java Certification</p>
            </div>

            <div class="text-gray-500">
                <div class="mb-4 flex items-center gap-3">
                    <span class="py-2 px-3 rounded bg-amber-500 text-white">Bestseller</span>
                    <span>4.4</span>
                    <span class="flex gap-1 text-amber-500">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </span>
                    <span>(20,230 ratings)</span>
                    <span>540,815 students</span>
                </div>
                <p class="mb-4 text-gray-500">Created by<span class="ml-3 text-red-500">Tim Buchalka</span></p>
                <div>
                    <span class="mr-4"><i class="mr-1 bi bi-info-circle-fill"></i>Last updated 2 Jan,2021</span>
                    <span><i class="mr-1 bi bi-globe"></i>English</span>
                </div>
            </div>

        </div>

    </div>

    <div class="max-w-screen-xl mx-auto flex font-medium">
        <div class="py-24 w-3/4 flex flex-col gap-5">
            <div class="p-6 bg-violet-50 rounded-md">
                <h5 class="mb-3 text-2xl font-semibold">What you'll learn?</h5>
                <ul class="grid grid-cols-2 text-gray-500 gap-3 *:flex *:gap-3">
                    <li><i class="bi bi-check2"></i><span>Learn the core Java skills needed to apply for Java developer positions in just 14 hours.</span></li>
                    <li><i class="bi bi-check2"></i><span>Acquire essential java basics for transitioning to the Spring Framework, Java EE, Android development and more.</span></li>
                    <li><i class="bi bi-check2"></i><span>Learn industry "best practices" in Java software development from a professional Java developer who has worked in the language for 18 years.</span></li>
                    <li><i class="bi bi-check2"></i><span>Be able to demonstrate your understanding of Java to future employers.</span></li>
                    <li><i class="bi bi-check2"></i><span>Be able to sit for and pass the Oracle Java Certificate exam if you choose.</span></li>
                    <li><i class="bi bi-check2"></i><span>Obtain proficiency in Java 8 and Java 11.</span></li>
                </ul>
            </div>

            <div class="p-6 bg-violet-50 rounded-md font-medium">
                <p>Curated for the<a href="" class="mx-2 text-red-500">Aduca for Business</a>collection</p>
            </div>

            <div>
                <h5 class="mb-3 text-2xl font-semibold">Requirements</h5>
                <ul class="list-disc leading-relaxed pl-5">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                </ul>
            </div>
            <div>
                <h5 class="mb-3 text-2xl font-semibold">Description</h5>
                <p class="mb-2">Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p class="mb-2">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy</p>

                <p>- Lorem ipsum dolor sit amet, consectetur.</p>
                <p>- Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="mb-2">- Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="mb-2"><strong>Are you aiming to get your first Java Programming job but struggling to find out what skills employers want</strong> and which course will give you those skills?</p>
                <p class="mb-2">This course is designed to give you the Java skills you need to get a job as a Java developer. By the end of the course, you will understand Java extremely well and be able to build your own Java apps and be productive as a software developer.</p>

                <button class="flex items-center">Show more<i class="bi bi-chevron-down"></i></button>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <h5 class="mb-3 text-2xl font-semibold">Course content</h5>
                    <div>
                        <span class="mr-3"><strong>Total: </strong>17 lectures</span>
                        <span><strong>Total hours: </strong>02:35:47</span>
                    </div>
                </div>

                <ul>
                    <li>
                        <button class="py-3 px-4 w-full flex justify-between rounded bg-gray-200">
                            <span><i class="mr-2 bi bi-plus-lg"></i>Course introduction</span>
                            <span>6 lectures</span>
                        </button>
                        <ul></ul>
                    </li>
                    <li>
                        <button class="py-3 px-4 w-full flex justify-between rounded bg-gray-200">
                            <span><i class="mr-2 bi bi-plus-lg"></i>Software tools setup</span>
                            <span>6 lectures</span>
                        </button>
                    </li>
                    <li>
                        <button class="py-3 px-4 w-full flex justify-between rounded bg-gray-200">
                            <span><i class="mr-2 bi bi-plus-lg"></i>Conclusion</span>
                            <span>1 lectures</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="w-1/4"></div>

    </div>
</section>
